{% extends "base.html" %}
{% block content %}
  <style>
    .time {
      font-size: 5px;
    }
    .replies {
      font-size: 15px;
    }
    input {
      font-size: 5px;
    }
    a {
      font-size: 5px;
    }
  </style>

  <h2>문제2. 일 별 온도 비교</h2>
  <img src="{{ chart_image }}" alt="">

  <hr>
  <h4>댓글</h4>
  <hr>
  {% for reply in replies %}
    {% if reply.problem_num == 2 %}
    <p class='replies'>{{ reply.content }}</p>
    <a href="{% url "weathers:update" pk=reply.pk num=2 %}">수정</a>
    <form action="{% url "weathers:delete" pk=reply.pk num=2 %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="삭제">
    </form>
    <hr>
    {% endif %}
  {% endfor %}

  <a href={% url "weathers:create" num=2 %}>새로운 댓글</a>
{% endblock content %}