{% extends 'base.html' %}

{% block content %}
<div>
  <div class="d-flex justify-content-between">
    <h1 class="my-auto">{{ profile_user }} 님의 프로필</h1>
    <div class="my-auto">
      <p class="my-auto">팔로잉: 0 / 팔로워: 0</p>
      <form action="{% url "accounts:follow" profile_user.id %}">
        {% if profile_user.id in user.following.all %}
          <button type="button" class="btn btn-info">Unfollow</button>
        {% else %}
          <button type="button" class="btn btn-info">Follow</button>
        {% endif %}
      </form>
    </div>
  </div>
  
  <hr>
  <h2 class="my-auto">유저가 쓴 글</h2>
  {% if boards|length == 0 %}
    <p class="my-4">작성한 게시글이 없습니다.</p>
  {% else %}
  {% for board in boards %}
    <div class="my-4 p-2 bg-dark-subtle">
      <p class="my-auto">글 번호: {{ board.id }}</p>
      <p class="my-auto">글 제목 : <a href="{% url 'boards:detail' board.id %}" style="text-decoration: none;">{{ board.title }}</a></p>
    </div>
  {% endfor %}
  {% endif %}
  
  <hr>
  <h2 class="my-auto">유저가 쓴 댓글</h2>
  {% if comments|length == 0 %}
    <p class="my-4">작성한 댓글이 없습니다.</p>
  {% else %}
  {% for comment in comments %}
    <div class="my-4 p-2 bg-dark-subtle">
      <p class="my-auto">글 번호: {{ comment.board_id }}</p>
      <p class="my-auto">댓글 내용: <a href="{% url 'boards:detail' comment.board_id %}" style="text-decoration: none;">{{ comment.content }}</a></p>
    </div>
  {% endfor %}
  {% endif %}

  <hr>
  <h2 class="my-auto">팔로워</h2>
{% endblock content %}